<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: head}"></div>
    <title th:if="${!editMode}">Ticket Platform - Nuova Nota</title>
    <title th:if="${editMode}">Ticket Platform - Modifica Nota</title>
</head>

<body>
    
    <div th:replace="~{fragments/navbar :: nav}"></div>

    <main class="container mb-5">

        <div class="text-center my-5">
            <h1 th:if="${!editMode}">Crea una nuova nota</h1>
            <h1 th:if="${editMode}">Modifica nota</h1>
            <hr>
        </div>

        <form id="note-form" th:object="${note}" th:action="${editMode} ? @{|/note/edit/${note.id}|} : @{/note/create}" method="post">
            <input type="hidden" th:field="*{ticket}" id="ticket">

            <div class="mb-3">
                <label for="inputBody" class="form-label">Inserisci il testo</label>
                <textarea id="inputBody" class="form-control" th:field="*{body}" th:errorClass="is-invalid"></textarea>
                
                <div class="text-start">
                    <ul th:if="${#fields.hasErrors('body')}">
                        <li th:each="error : ${#fields.errors('body')}" class="text-danger" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-around align-items-center">
                <div>
                    <a th:href="@{|/ticket/show/${note.ticket.id}}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Indietro</a>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Salva</button>
                <div>
                    <a th:href="${editMode} ? @{|/note/edit/${note.id}|} : @{/note/create}" class="btn">Cancella <i class="bi bi-trash"></i></a>
                </div>
            </div>
        </form>
    </main>

    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>

</html>