<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: head}"></div>
    <title>Ticket Platform - Home</title>
</head>

<body>

    <div th:replace="~{fragments/navbar :: nav}"></div>

    <!-- MESSAGGIO PER LA CORRETTA CREAZIONE E MODIFICA DI UN TICKET -->
    <div th:if="${successMessage != null}" class="text-center d-flex justify-content-center mt-2">
        <div class="alert alert-success alert-dismissible fade show w-25" role="alert">
            <span th:text="${successMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <main class="container mb-5">

        <div class="text-center my-3">
            <h1>Ticket disponibili:</h1>
        </div>
        
        <!-- SEZIONE PER FILTRAGGIO E RICERCA E AGGIUNTA DI UN TICKET-->
        <div class="mb-3 row">
            <form th:action="@{/ticket}" method="get" class="col-8">

                <div class="d-inline-block">
                    <input type="search" name="title" th:value="${keyword}" class="form-control border border-black" placeholder="Inserisci il titolo" aria-label="Inserisci il titolo">
                </div>
                
                <div class="d-inline-block">
                    <select name="category" class="form-select border border-black">
                        <option value="" selected>Tutte le categorie</option>                        
                        <option th:each="cat : ${catList}" th:value="${cat.id}" th:text="${cat.name}"></option>                       
                    </select>
                </div>
                
                <div class="d-inline-block">
                    <select name="state" class="form-select border border-black">
                        <option value="" selected>Qualsiasi stato</option>
                        <option th:each="state : ${stateList}" th:value="${state}" th:text="${state}"></option>
                    </select>
                </div>
                
                <div class="d-inline-block">
                    <button class="btn btn-warning border border-black" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
            
            <div class="col-auto ms-auto" sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-warning border border-black" th:href="@{/ticket/create}">Crea un nuovo ticket</a>
            </div>
        </div>
        
        <!-- VISUALIZZAZIONE DEI TICKET -->
        <div th:if="${ticketList.isEmpty()}" class="text-center mb-5">
            <p>Nessun ticket da visualizzare!</p>
        </div>
        
        <div th:unless="${ticketList.isEmpty()}">
            <table class="table table-secondary table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Titolo</th>
                        <th scope="col">Operatore</th>
                        <th scope="col">Data di Creazione</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Stato</th>
                        <th scope="col"> <!--Spazio per il dettaglio--> </th>
                        <th scope="col" sec:authorize="hasAuthority('ADMIN')"> <!-- Spazio per la modifica --> </th>
                        <th scope="col" sec:authorize="hasAuthority('ADMIN')"> <!--Spazio per eliminare ticket--> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${ticketList}" class="align-middle">
                        <th scope="row" th:text="${ticket.title}"></th>
                        <td th:text="${ticket.user.username}"></td>
                        <td th:text="${ticket.dateOfCreation}"></td>
                        <td th:text="${ticket.category.name}"></td>
                        <td>
                            <span th:switch="${ticket.state.name}">
                                <span th:case="'DA_FARE'" class="badge bg-primary" th:text="${ticket.state}"></span>
                                <span th:case="'IN_CORSO'" class="badge bg-warning text-dark" th:text="${ticket.state}"></span>
                                <span th:case="'COMPLETATO'" class="badge bg-success" th:text="${ticket.state}"></span>
                            </span>
                        </td>
                        <!-- AGGIUNGERE BOTTONE PER ANDARE AL DETTAGLIO DEL TICKET -->
                        <td>
                            <a th:href="@{|/ticket/show/${ticket.id}|}" class="btn btn-warning"><i class="bi bi-card-list"></i></a>
                        </td>
                        <!-- AGGIUNGERE BOTTONE PER MODIFICARE IL TICKET -->
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{|/ticket/edit/${ticket.id}|}" class="btn btn-success"><i class="bi bi-pencil"></i></a>
                        </td>
                        <!-- AGGIUNGERE BOTTONE PER ELIMINARE IL TICKET -->
                        <td sec:authorize="hasAuthority('ADMIN')">
                             <form th:action="@{|/ticket/delete/${ticket.id}|}" method="post">
                                <button class="btn btn-danger" type="submit" id="submitButton" onclick="return confirm('Sicuro di voler eliminare questo ticket?')"><i class="bi bi-trash-fill"></i></button>
                             </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>
</html>