<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: head}"></div>
    <title th:text="|Ticket Platform - ${ticket.title}|"></title>
</head>

<body>

    <div th:replace="~{fragments/navbar :: nav}"></div>

    <main class="container mb-5">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="my-3">Dettaglio Ticket</h2>

            <a th:href="@{/ticket}" class="btn btn-primary border border-black"><i class="bi bi-arrow-left"></i>
                Indietro</a>
        </div>

        <!-- CARD CON DETTAGLI TICKET -->
        <div class="card shadow p-3 mb-3 rounded">
            <div class="card-body">

                <h3 class="card-title" th:text="${ticket.title}"></h3>
                <p class="card-text" th:text="${ticket.body}"></p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Categoria: </strong>
                        <span th:text="${ticket.category.name}"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Stato: </strong>
                                <span th:switch="${ticket.state.name}">
                                    <span th:case="'DA_FARE'" class="badge bg-primary border border-black"
                                        th:text="${ticket.state}"></span>
                                    <span th:case="'IN_CORSO'" class="badge bg-warning text-dark border border-black"
                                        th:text="${ticket.state}"></span>
                                    <span th:case="'COMPLETATO'" class="badge bg-success border border-black"
                                        th:text="${ticket.state}"></span>
                                </span>
                            </div>
                            <div>
                                <form th:action="@{/ticket/updateState}" method="post" class="gap-1 d-flex">
                                    <input type="hidden" name="id" th:value="${ticket.id}" />

                                    <div class="input-group">
                                        <select name="state" id="changeState" class="form-select border border-black">
                                            <option th:each="state : ${stateList}" th:text="${state}"
                                                th:value="${state}" th:selected="${ticket.state == state}"></option>
                                        </select>
                                        <button class="btn btn-primary border border-black" type="submit"><i
                                                class="bi bi-pencil"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <strong>Operatore: </strong>
                        <span th:text="${ticket.user.username}"></span>
                    </li>
                </ul>

            </div>
        </div>

        <!-- SEZIONE VISUALIZZAZIONE NOTE -->
        <div class="mb-3">
            <h3>Note:</h3>

            <div th:if="${ticket.notes.isEmpty()}" class="alert alert-success d-inline-block">
                Nessuna nota presente
            </div>

            <ul th:unless="${ticket.notes.isEmpty()}" class="list-group">
                <li class="list-group-item" th:each="note : ${ticket.notes}">
                    <div class="d-flex justify-content-between">
                        <strong th:text="${note.user.username}"></strong>
                        <em th:text="${note.dateOfCreation}"></em>
                    </div>
                    <p th:text="${note.body}"></p>
                </li>
            </ul>
        </div>

        <!-- SEZIONE FORM PER AGGIUNTA NOTE -->
        <div class="shadow p-3 mb-3 rounded">
            <form id="noteForm" th:action="@{/note/create}" method="post" th:object="${newNote}">
                <input type="hidden" th:field="*{id}" th:value="*{id}">
                <input type="hidden" th:field="*{ticket}" th:value="*{ticket}">
                <input type="hidden" th:field="*{user}" th:value="*{user}">

                <div class="mb-3">
                    <label for="inputNote" class="form-label">
                        <h4>Aggiungi una nota</h4>
                    </label>
                    <textarea th:field="*{body}" id="inputNote" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary border border-black">Aggiungi</button>
            </form>
        </div>

    </main>

    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>

</html>